<section class="flex mt-3 mb-10 lg:mb-0">
  <div class="grid grid-cols-12 md:justify-center">
    <div class="col-span-1"></div>
    <div
      class="mx-10 md:mx-0 col-span-12 md:col-span-4 lg:col-span-3 flex flex-col justify-center items-center"
    >
      <h2 class="text-[#1e4a98] text-center md:text-start text-2xl">
        Do you want to know more?
      </h2>
      <p class="w-full xs:w-3/5 my-8 md:my-0 md:w-auto">
        Get advice from us, we have specialists who will help you with the
        development and implementation of our services.
      </p>
    </div>
    <!-- <div class="block col-span-1 lg:hidden"></div> -->
    <div
      class="col-span-12 md:col-span-6 lg:col-span-4 md:self-center 2sm:px-8"
    >
      <!-- <mat-card class="card-footer text-card-footer">
        <mat-card-header class="header-card-footer"  >Contáctanos</mat-card-header>
        <mat-card-content class="content-card-footer"> -->
      <div
        class="xs:mx-10 md:mx-0 rounded-lg shadow-5 px-6 py-7 flex justify-center items-center"
      >
        <icon-mail class="w-8 h-8 mr-4 fill-primary-500" />
        <div class="flex flex-col justify-center items-center">
          <h3 class="text-[#1e4a98] text-2xl">Contact us</h3>
          <p class="break-all">
            <a href="mailto:info@integritysolutions.com.ec">
              info&#64;integritysolutions.com.ec
            </a>
          </p>
          <p style="margin: 0">tel. (593) (4) 602 8000</p>
        </div>
      </div>
      <!-- </mat-card-content>
      </mat-card>

      <mat-card class="card-footer text-card-footer mt-5">
        <mat-card-header class="header-card-footer"  >Escribenos</mat-card-header>
        <mat-card-content class="content-card-footer"> -->
      <div
        class="xs:mx-10 md:mx-0 rounded-lg shadow-5 px-6 py-7 mt-8 flex justify-center items-center"
      >
        <icon-whatsapp class="w-8 h-8 fill-[#25D366] mr-4" />
        <div class="flex flex-col justify-center items-center">
          <h3 class="text-[#1e4a98] text-2xl">Write to us</h3>
          <div class="flex gap-2 items-center justify-center">
            <a href="https://wa.me/+593988021607" style="margin: 0"
              >+ 593 98 802 1607</a
            >
          </div>
        </div>
      </div>
      <!-- </mat-card-content>
      </mat-card> -->
    </div>

    <div class="hidden lg:block md:col-span-3">
      <img class="h-auto w-auto" src="assets/img/footer-img.webp" />
    </div>
    <div class="col-span-1"></div>
  </div>
</section>
