<div class="relative">
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
  >
    <!--First item-->
    <div
      class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-twe-carousel-active
      data-twe-carousel-item
      style="backface-visibility: hidden"
    >
      <!-- ELEGIR_NUESTROS_SERVICIOS_LG.jpg filter blur-md brightness-75 -->
      <!-- style="background-image: url('assets/img/office-team.webp')" -->
      <div
        class="bg-cover block h-[80vh] min-h-[580px] filter brightness-50"
        alt="..."
        style="background-image: url('assets/img/office-team-3.avif')"
      ></div>
      <!-- <div class="absolute hidden lg:block left-0 w-1/2 top-0 bottom-0">
        <div class="flex flex-column h-full justify-center items-center"></div>
      </div> -->
      <div class="absolute left-10 right-10 w-full top-0 bottom-0">
        <div
          class="h-full flex flex-col items-center lg:items-start justify-center text-white"
        >
          <div class="relative z-10 w-fit max-h-[500px]">
            <!-- <div class="absolute w-full h-full z-[-1] flex justify-center">
              <div
                class="filter brightness-75 bg-primary-400 opacity-100 rounded-xl w-[calc(100%-50px)] h-full"
              ></div>
            </div> -->
            <div class="z-10 w-[calc(100%-50px)] flex lg:flex-row flex-col">
              <div class="flex justify-start w-full lg:w-3/5 mb-4">
                <div class="flex flex-col justify-center">
                  <p
                    class="text-white text-5xl lg:text-8xl text-shadow-lg font-bold"
                  >
                    Your partner <br />for your software development needs
                  </p>

                  <!-- <span
                    class="text-[#1E4A98] text-4xl lg:text-7xl text-shadow-lg filter brightness-75"
                  >
                    INTEGRITY
                  </span>
                  <span
                    class="flex flex-row-reverse text-black text-xl lg:text-4xl"
                    text-shadow
                  >
                    SOLUTIONS
                  </span> -->
                </div>
              </div>
              <div class="flex w-full lg:w-2/5 lg:ml-8 flex-col justify-end">
                <div class="relative">
                  <p
                    class="z-10 max-w-[calc(100%-150px)] text-xl font-normal text-white lg:max-w-[400px] text-justify bg-primary-600 p-8 rounded-lg"
                  >
                    We are a
                    <a class="inline-flex items-center text-[#ffd800]">
                      20-year-old
                    </a>
                    company based in Guayaquil, Ecuador, that provides
                    outsourced software development. Our success lies in our
                    established presence, a skilled team of over 100 employees,
                    and our commitment to four core principles: Agility,
                    Automation, Analysis, Information security, and project
                    management.
                    <!-- Our lines of business provide our clients with appropriate support
                in the search for comprehensive solutions at the business level,
                along with the experience of our consultants and the commitment to
                quality provided. -->
                  </p>
                  <!-- <div
                    class="absolute top-[-40px] right-[50px] w-[400px] h-[300px] z-[-1] bg-primary-300 p-8 rounded-lg"
                  ></div> -->
                </div>

                <div class="d-none d-md-flex mt-6">
                  <button
                    routerLink="/contact-us"
                    class="rounded-lg border-solid border-[2px] bg-white text-[#2f75c2] border-primary hover:bg-primary hover:text-white p-2"
                  >
                    Contact us
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
