<section class="mapa mb-8">
  <div class="w-full flex flex-col justify-center items-center">
    <div
      class="text-3xl font-semibold text-center text-[#1e4a98] pt-[5%] px-[2%]"
    >
      <h2>Our Location</h2>
    </div>
    <div class="w-full flex justify-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63790.315999259954!2d-79.881564!3d-2.193534!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6f05d316d9af%3A0xedf2d014380f205a!2sIntegrity%20Solutions!5e0!3m2!1ses-419!2sec!4v1688943282032!5m2!1ses-419!2sec"
        height="450"
        class="w-4/5 md:w-[600px]"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
