<div class="flex justify-center">
  <h2 class="text-3xl sm:text-5xl text-center font-bold text-[#1e4a98] mb-16">
    Tools & Technologies used
  </h2>
</div>
<div class="w-full flex items-center justify-center">
  <div
    class="w-full mx-6 lg:w-4/5 lg:m-0 h-auto flex justify-center relative p-0 2sm:p-18"
  >
    <!-- <div
      class="w-full h-full absolute bg-cover brightness-50 bg-center filter top-0 bottom-0 z-[-1]"
      style="background-image: url('assets/img/office-laptops.jpg')"
    ></div> -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 max-w-[900px] lg:max-w-full justify-center items-center w-full gap-12"
    >
      @for (stack of stackList; track $index; let total = $count) {
      <div
        class="box-border flex flex-row justify-center items-center relative sm:rounded-b-3xl sm:rounded-tr-3xl flex-1 bg-gray-100"
      >
        <!-- <div
          [ngClass]="{
            'absolute top-0 left-0 rounded-none sm:rounded-xl bg-blend-overlay w-full h-full z-[-1] bg-slate-200 filter brightness-150 opacity-70': true,
          }"
        ></div> -->
        <p
          class="text-white bg-gray-700 w-full rounded-none sm:w-auto sm:rounded-t-xl absolute top-[-28px] left-0 z-10 text-lg font-semibold text-center px-4"
        >
          {{ stack.title }}:
        </p>

        <div
          class="flex flex-col w-full h-full rounded-none sm:rounded-r-xl justify-center overflow-hidden p-4"
        >
          <!-- @if (stack.subsection) {
          <div class="flex flex-wrap flex-row w-1/2">
            @for (section of stack.subsection; track $index) {

            <div class="bg-gray-300 rounded-t-lg px-2 pt-2">{{ section }}</div>
            }
          </div>
          } -->
          @for (section of stack.subsection; track $index; let idxSection
          =$index) {
          <p class="text-xl mb-2">{{ section }}:</p>
          <div class="overflow-y-auto scroll-smooth max-h-[344px]">
            <div class="flex flex-wrap justify-start box-border gap-4 mx-2">
              @if (idxSection === 0) { @switch (stack.stack) { @case ('front') {
              <svg-html class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-javascript class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-typescript class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-angular class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-react class="w-full max-w-20 h-auto max-h-20 block" />
              <!-- <svg-vue class="w-full max-w-20 h-auto max-h-20 block" />
                <svg-aspnet class="w-full max-w-20 h-auto max-h-20 block" />
                <svg-jquery class="w-full max-w-20 h-auto max-h-20 block" />
                <svg-blazor class="w-full max-w-20 h-auto max-h-20 block" />
                <svg-thymeleaf class="w-full max-w-20 h-auto max-h-20 block" /> -->
              } @case ('back') {
              <svg-java class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-netframework class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-netcore
                class="w-full max-w-20 h-auto max-h-20 !flex items-center justify-center"
              />
              <svg-python class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-ruby class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-php class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-nodejs class="w-full max-w-20 h-auto max-h-20 block" />
              } @case ('bi') {
              <!-- <svg-power-bi class="w-full max-w-20 h-auto max-h-20 block" />
               -->
              } @case ('devops') {
              <!-- <svg-postman class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-git class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-jenkings class="w-full max-w-20 h-auto max-h-20 block" /> -->
              <svg-aws class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-azure class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-openshift class="w-full max-w-20 h-auto max-h-20 block" />
              } } } @if (idxSection === 1) { @switch (stack.stack) { @case
              ('front') {
              <svg-ionic class="w-full max-w-20 h-20 max-h-20 block" />
              <svg-unity class="w-full max-w-20 h-20 max-h-20 block" />
              <svg-swift class="w-full max-w-20 h-20 max-h-20 block" />
              <svg-kotlin class="w-full max-w-20 h-20 max-h-20 block" />
              <svg-flutter class="w-full max-w-20 h-20 max-h-20 block" />
              <svg-react class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-dart class="w-full max-w-20 h-auto max-h-20 block" />
              }@case ('back') {
              <!-- <svg-redis class="w-full max-w-20 h-auto max-h-20 block" /> -->
              <svg-sql-server class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-mysql class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-postgres class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-sybase class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-mongo class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-firebase class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-oracle class="w-20 h-20 flex flex-col justify-center" />

              }@case ('devops') {

              <svg-git class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-gitlab class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-bitbucket class="w-full max-w-20 h-auto max-h-20 block" />
              } } } @if (idxSection === 2) { @switch (stack.stack) { @case
              ('front') {
              <svg-figma class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-adobe-xd class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-miro class="w-full max-w-20 h-auto max-h-20 block" />
              }@case ('back') {
              <!-- <svg-redis class="w-full max-w-20 h-auto max-h-20 block" /> -->
              <svg-spring class="w-20 h-20 block" />

              }@case ('devops') {
              <svg-postman class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-jenkings class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-junit class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-swagger class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-selenium class="w-full max-w-20 h-auto max-h-20 block" />
              <!-- <svg-jmeter class="w-20 h-20 block" /> -->
              }
              <!-- <svg-elastic-search
                  class="w-full max-w-20 h-auto max-h-20 block"
                />

                <svg-flask class="w-full max-w-20 h-auto max-h-20 block" /> -->

              } } @if (idxSection === 3) { @switch (stack.stack) { @case
              ('devops') {
              <svg-docker class="w-full max-w-20 h-auto max-h-20 block" />
              }}} @if (idxSection === 4) { @switch (stack.stack) { @case
              ('devops') {
              <svg-lambda class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-glue class="w-full max-w-20 h-auto max-h-20 block" />
              <svg-s3bucket class="w-full max-w-20 h-auto max-h-20 block" />
              }}}
            </div>
          </div>
          }
        </div>
      </div>

      }
    </div>
  </div>
</div>
