<app-carousel />
<div class="w-full flex items-center justify-center flex-col mb-24 relative">
  <icon-circuit
    class="w-16 h-auto absolute left-0 top-24 rotate-180 fill-primary-700"
  />
  <icon-circuit
    class="w-16 h-auto absolute right-0 bottom-4 fill-primary-600"
  />
  <div
    class="max-w-[800px] w-full md:w-4/5 pt-24 pb-12 flex flex-col justify-center items-center"
  >
    <h2 class="text-3xl sm:text-5xl text-center font-bold text-[#1e4a98] mb-4">
      Our Services
    </h2>
    <p class="text-lg w-4/5">
      At Integrity Solutions we are committed with the growth and efficiency of
      your Organization, we have the knowledge, work methodologies and the tools
      so that your company remains aligned with compliance with regulations and
      good industry practices.
    </p>
  </div>
  <div class="w-4/5 flex flex-col-reverse lg:flex-row items-center">
    <div
      class="w-full lg:w-[50%] px-0 sm:px-10 py-4 lg:p-10 flex flex-col items-end justify-between"
    >
      <div>
        <h2 class="text-2xl text-gray-600 font-semibold mb-3">
          Software Factory
        </h2>
        <p class="text-gray-500">
          In our development factories we integrate technologies, managing
          projects, achieving tangible results based on agile approaches, in
          addition to being characterized by predictable development activities
          and reduction in the amount of work due to the reuse of components for
          the highest quality results.
        </p>
      </div>
      <div class="flex mt-6">
        <button
          routerLink="/services/software-factory"
          class="px-6 py-2 bg-primary-500 hover:bg-primary-300 text-white rounded-lg"
        >
          Learn more
        </button>
      </div>
    </div>
    <div class="w-full lg:w-[50%] h-full">
      <img
        srcset="assets/img/services/softwarefactory/work-env.jpg"
        class="rounded-2xl w-full h-auto"
      />
    </div>
  </div>
</div>
<section class="elegirnos">
  <div
    class="relative mx-[6%] lg:m-[145px] h-auto bg-[#1e4a98] flex flex-wrap justify-start items-center rounded-3xl"
  >
    <div
      class="bg-cover bg-center absolute w-4/5 h-1/2 sm:h-3/5 md:h[65%] lg:h-[70%] rounded-3xl top-[-16%] left-[10%]"
      style="
        background-image: url('/assets/img/ELEGIR_NUESTROS_SERVICIOS.webp');
      "
    ></div>
    <div class="pt-[45%] md:pt-[39%]">
      <h2
        style="font-weight: 600; font-size: 24px"
        class="text-white text-center"
      >
        WHY CHOOSE OUR SERVICES?
      </h2>
      <p style="margin: 0 6% 5% 6%" class="text-white">
        At Integrity Solutions We have had the opportunity to work with
        different private and public entities on
        <!-- Business Process Management -->
        <!-- projects , Operational Risk Management, Information Security Management, -->
        Software Factory
        <!-- , IT Governance, Business Continuity Management, Process -->
        <!-- Automation , Technological Optimization and IT Audit.  -->
        In addition, our alliances allow us to offer you the highest quality and
        security in each of the services we offer.
      </p>
    </div>
  </div>
</section>
<section class="w-full box-border bg-[#f3f6ff] mt-8">
  <div id="is-clients" class="justify-center w-full" id="clientes">
    <h2
      class="w-full text-center text-[#1e4a98] font-semibold text-3xl pb-8 pt-4"
    >
      Our Clients
    </h2>
    <div class="flex overflow-hidden w-full h-auto items-center">
      <div class="relative overflow-x-hidden h-[9rem] w-full text-center">
        <div
          class="absolute flex left-0 right-0 w-[inherit]"
          style="animation: primary 60s linear infinite"
        >
          @for (image of clientes; track $index) {
          <img class="object-contain w-[175px] aspect-[3/2]" [src]="image" />
          }
        </div>
      </div>
    </div>
  </div>
  <div id="is-partners" class="justify-center w-full">
    <h2
      class="w-full text-center text-[#1e4a98] font-semibold text-3xl pb-8 pt-2"
    >
      Our Alliances
    </h2>
    <div class="flex overflow-hidden w-full h-auto items-center">
      <div class="relative overflow-x-hidden h-[9rem] w-full text-center">
        <div
          class="absolute flex left-0 right-0 w-[inherit]"
          style="animation: secondary 10s linear infinite"
        >
          @for (image of alianzas; track $index) {
          <img class="object-contain w-[175px] aspect-[3/2]" [src]="image" />

          }
        </div>
      </div>
    </div>
  </div>
</section>
