<div
  id="carouselHomeIntegrity"
  class="relative"
  data-twe-carousel-init
  data-twe-interval="5000"
  data-twe-ride="carousel"
>
  <!--Carousel indicators-->
  <div
    class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
    data-twe-carousel-indicators
  >
    <button
      type="button"
      data-twe-target="#carouselHomeIntegrity"
      data-twe-slide-to="0"
      data-twe-carousel-active
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-twe-target="#carouselHomeIntegrity"
      data-twe-slide-to="1"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-twe-target="#carouselHomeIntegrity"
      data-twe-slide-to="2"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 3"
    ></button>
  </div>

  <!--Carousel items-->
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
  >
    <!--First item-->
    <div
      class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-twe-carousel-active
      data-twe-carousel-item
      style="backface-visibility: hidden"
    >
      <div
        class="bg-cover block filter blur-md brightness-75 h-[80vh]"
        style="
          background-image: url('assets/img/ELEGIR_NUESTROS_SERVICIOS_LG.jpg');
        "
        alt="..."
      ></div>
      <div class="absolute hidden lg:block left-0 w-3/5 top-0 bottom-0">
        <div class="flex flex-column h-full justify-center items-center">
          <img
            class=""
            width="430"
            height="430"
            srcset="assets/img/img-portada-solid.png"
          />
        </div>
      </div>
      <div class="absolute right-0 w-full lg:w-2/5 top-0 bottom-0">
        <div
          class="h-full flex flex-col items-center lg:items-start justify-center text-white"
        >
          <div class="flex justify-center lg:justify-start w-full mb-4">
            <div class="flex flex-col justify-center">
              <span
                class="text-[#1E4A98] text-4xl lg:text-7xl text-shadow-lg filter brightness-75"
              >
                INTEGRITY
              </span>
              <span
                class="flex flex-row-reverse text-black text-xl lg:text-4xl"
                text-shadow
              >
                SOLUTIONS
              </span>
            </div>
          </div>
          <p
            class="flex max-w-[calc(100%-200px)] lg:max-w-[350px] text-justify"
          >
            Our lines of business provide our clients with appropriate support
            in the search for comprehensive solutions at the business level,
            along with the experience of our consultants and the commitment to
            quality provided.
          </p>
          <div class="d-none d-md-flex">
            <button
              routerLink="/about-us"
              class="rounded-lg border-solid border-[2px] bg-white text-[#2f75c2] border-[#2f75c2] hover:bg-[#2f75c2] hover:text-white p-2"
            >
              About us
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Second item-->
    <div
      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-twe-carousel-item
      style="backface-visibility: hidden"
    >
      <div
        class="bg-cover block filter blur-md brightness-75 h-[80vh]"
        style="
          background-image: url('assets/img/abstract-blur-hotel-interior.jpg');
        "
        alt="..."
      ></div>
      <div class="absolute left-0 w-full lg:w-2/5 top-0 bottom-0">
        <div
          class="h-full flex flex-col items-center lg:items-end justify-center text-white"
        >
          <div class="flex justify-center lg:justify-end w-full mb-4">
            <div class="flex flex-col justify-center">
              <span
                class="text-[#1E4A98] text-4xl lg:text-7xl text-shadow-lg filter brightness-75"
              >
                INTEGRITY
              </span>
              <span
                class="flex flex-row-reverse text-black text-xl lg:text-4xl"
                text-shadow
              >
                SOLUTIONS
              </span>
            </div>
          </div>
          <p
            class="flex max-w-[calc(100%-200px)] lg:max-w-[350px] text-justify"
          >
            Our lines of business provide our clients with appropriate support
            in the search for comprehensive solutions at the business level,
            along with the experience of our consultants and the commitment to
            quality provided.
          </p>
          <div class="d-none d-md-flex">
            <button
              routerLink="/contact-us"
              class="rounded-lg border-solid border-[2px] bg-white text-[#2f75c2] border-[#2f75c2] hover:bg-[#2f75c2] hover:text-white p-2"
            >
              Contact us
            </button>
          </div>
        </div>
      </div>
      <div class="absolute hidden lg:block right-0 w-3/5 top-0 bottom-0">
        <div class="flex flex-column h-full justify-center items-center">
          <img
            class=""
            width="430"
            height="430"
            srcset="assets/img/img-portada-solid.png"
          />
        </div>
      </div>
    </div>
    <!--Third item-->
    <div
      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-twe-carousel-item
      style="backface-visibility: hidden"
    >
      <div
        class="bg-cover block filter blur-md brightness-75 h-[80vh]"
        style="background-image: url('assets/img/people-room-man-entering.jpg')"
        alt="..."
      ></div>
      <div class="absolute hidden lg:block left-0 w-3/5 top-0 bottom-0">
        <div class="flex flex-column h-full justify-center items-center">
          <img
            class=""
            width="430"
            height="430"
            srcset="assets/img/img-portada-solid.png"
          />
        </div>
      </div>
      <div class="absolute right-0 w-full lg:w-2/5 top-0 bottom-0">
        <div
          class="h-full flex flex-col items-center lg:items-start justify-center text-white"
        >
          <div class="flex justify-center lg:justify-start w-full mb-4">
            <div class="flex flex-col justify-center">
              <span
                class="text-[#1E4A98] text-4xl lg:text-7xl text-shadow-lg filter brightness-75"
              >
                INTEGRITY
              </span>
              <span
                class="flex flex-row-reverse text-black text-xl lg:text-4xl"
                text-shadow
              >
                SOLUTIONS
              </span>
            </div>
          </div>
          <p
            class="flex max-w-[calc(100%-200px)] lg:max-w-[350px] text-justify"
          >
            Our lines of business provide our clients with appropriate support
            in the search for comprehensive solutions at the business level,
            along with the experience of our consultants and the commitment to
            quality provided.
          </p>
          <div class="d-none d-md-flex">
            <button
              routerLink="/about-us"
              class="rounded-lg border-solid border-[2px] bg-white text-[#2f75c2] border-[#2f75c2] hover:bg-[#2f75c2] hover:text-white p-2"
            >
              About us
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Carousel controls - prev item-->
  <button
    class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-twe-target="#carouselHomeIntegrity"
    data-twe-slide="prev"
  >
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
    >
  </button>
  <!--Carousel controls - next item-->
  <button
    class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-twe-target="#carouselHomeIntegrity"
    data-twe-slide="next"
  >
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"
        />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
    >
  </button>
</div>
<div class="w-full flex items-center justify-center flex-col mb-24">
  <div class="w-4/5 py-24">
    <h2 class="text-5xl text-center font-bold text-[#1e4a98] mb-4">
      Our Services
    </h2>
    <p class="text-lg">
      At Integrity Solutions we are committed with the growth and efficiency of
      your Organization, we have the knowledge, work methodologies and the tools
      so that your company remains aligned with compliance with regulations and
      good industry practices.
    </p>
  </div>
  <div class="w-4/5 flex flex-col-reverse lg:flex-row items-center">
    <div
      class="w-full lg:w-[50%] px-0 sm:px-10 py-4 lg:p-10 flex flex-col items-end justify-between"
    >
      <div>
        <h2 class="text-2xl text-gray-600 font-semibold mb-3">
          Software Factory
        </h2>
        <p class="text-gray-500">
          In our development factories we integrate technologies, managing
          projects, achieving tangible results based on agile approaches, in
          addition to being characterized by predictable development activities
          and reduction in the amount of work due to the reuse of components for
          the highest quality results.
        </p>
      </div>
      <div class="flex mt-6">
        <button
          routerLink="/services/software-factory"
          class="px-6 py-2 bg-[#1e4a98] text-white rounded-lg"
        >
          Learn more
        </button>
      </div>
    </div>
    <div class="w-full lg:w-[50%] h-full">
      <img
        srcset="assets/img/services/softwarefactory/work-env.jpg"
        class="rounded-2xl w-full h-auto"
      />
    </div>
  </div>
</div>
<section class="elegirnos">
  <div
    class="relative mx-[6%] lg:m-[145px] h-auto bg-[#1e4a98] flex flex-wrap justify-start items-center rounded-3xl"
  >
    <div
      class="bg-cover bg-center absolute w-4/5 h-1/2 sm:h-3/5 md:h[65%] lg:h-[70%] rounded-3xl top-[-16%] left-[10%]"
      style="
        background-image: url('/assets/img/ELEGIR_NUESTROS_SERVICIOS.webp');
      "
    ></div>
    <div class="pt-[45%] md:pt-[39%]">
      <h2
        style="font-weight: 600; font-size: 24px"
        class="text-white text-center"
      >
        WHY CHOOSE OUR SERVICES?
      </h2>
      <p style="margin: 0 6% 5% 6%" class="text-white">
        At Integrity Solutions We have had the opportunity to work with
        different private and public entities on
        <!-- Business Process Management -->
        <!-- projects , Operational Risk Management, Information Security Management, -->
        Software Factory
        <!-- , IT Governance, Business Continuity Management, Process -->
        <!-- Automation , Technological Optimization and IT Audit.  -->
        In addition, our alliances allow us to offer you the highest quality and
        security in each of the services we offer.
      </p>
    </div>
  </div>
</section>
<section class="w-full box-border bg-[#f3f6ff] mt-8">
  <div id="is-clients" class="justify-center w-full" id="clientes">
    <h2
      class="w-full text-center text-[#1e4a98] font-semibold text-3xl pb-8 pt-4"
    >
      Our Clients
    </h2>
    <div class="flex overflow-hidden w-full h-auto items-center">
      <div class="relative overflow-x-hidden h-[9rem] w-full text-center">
        <div
          class="absolute flex left-0 right-0 w-[inherit]"
          style="animation: primary 60s linear infinite"
        >
          @for (image of clientes; track $index) {
          <img class="object-contain w-[175px] aspect-[3/2]" [src]="image" />
          }
        </div>
      </div>
    </div>
  </div>
  <div id="is-partners" class="justify-center w-full">
    <h2
      class="w-full text-center text-[#1e4a98] font-semibold text-3xl pb-8 pt-2"
    >
      Our Alliances
    </h2>
    <div class="flex overflow-hidden w-full h-auto items-center">
      <div class="relative overflow-x-hidden h-[9rem] w-full text-center">
        <div
          class="absolute flex left-0 right-0 w-[inherit]"
          style="animation: secondary 10s linear infinite"
        >
          @for (image of alianzas; track $index) {
          <img class="object-contain w-[175px] aspect-[3/2]" [src]="image" />

          }
        </div>
      </div>
    </div>
  </div>
</section>
