<!-- Button trigger modal -->
<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<section class="w-full">
  <div class="flex flex-col">
    <div
      class="w-full py-10 bg-cover flex justify-center md:justify-start items-center"
      style="background-image: url('assets/img/CONTACTANOS.webp')"
    >
      <form class="md:pl-[10%] w-fit" [formGroup]="form()">
        <div class="space-y-12">
          <div class="rounded-lg shadow-lg py-6 px-12 bg-white">
            <h2 class="font-normal text-[#1e4a98] text-3xl mb-4">
              Send us a message
            </h2>
            <p class="mt-1 text-sm text-gray-600 max-w-[400px]">
              If you'd like to send us a message directly, please use the form
              below, and our team will get back to you as soon as possible.
            </p>

            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-4">
              <div class="">
                <label
                  for="first-name"
                  class="block text-md font-medium text-gray-600"
                >
                  Full name
                </label>
                <div class="mt-2">
                  <div class="relative">
                    <div
                      class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <icon-user
                        class="w-4 h-4 block text-gray-500 fill-gray-400"
                      />
                    </div>
                    <input
                      type="text"
                      name="first-name"
                      id="first-name"
                      formControlName="name"
                      autocomplete="given-name"
                      class="block w-full rounded-md border-0 ps-10 p-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                    />
                  </div>
                </div>
                <p class="text-sm text-gray-400">
                  Write your name and last name
                </p>
              </div>

              <div class="">
                <label
                  for="email"
                  class="block text-md font-medium text-gray-600"
                  >Email address</label
                >
                <div class="mt-2">
                  <div class="relative">
                    <div
                      class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <icon-mail
                        class="w-4 h-4 block text-gray-500 fill-gray-400"
                      />
                    </div>
                    <input
                      id="email"
                      name="email"
                      type="email"
                      autocomplete="email"
                      formControlName="email"
                      class="block w-full rounded-md border-0 ps-10 p-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                    />
                  </div>
                </div>
                <p class="text-sm text-gray-400">Write a valid email address</p>
              </div>

              <div class="">
                <label
                  for="email"
                  class="block text-md font-medium text-gray-600"
                >
                  Phone number
                </label>
                <div class="mt-2">
                  <div class="relative">
                    <div
                      class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <icon-phone
                        class="w-4 h-4 block text-gray-500 fill-gray-400"
                      />
                    </div>
                    <input
                      id="telephone"
                      name="telephone"
                      type="tel"
                      autocomplete="telephone"
                      formControlName="phone"
                      class="block w-full rounded-md border-0 ps-10 p-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                    />
                  </div>
                </div>
                <p class="text-sm text-gray-400">Write a valid phone number</p>
              </div>

              <div class="col-span-full">
                <label
                  for="about"
                  class="block text-md font-medium text-gray-600"
                  >How can we help you?</label
                >
                <div class="mt-2">
                  <textarea
                    id="about"
                    name="about"
                    rows="3"
                    formControlName="message"
                    class="block w-full rounded-md border-0 max-w-[400px] p-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="mt-6 flex items-center justify-center gap-x-6">
              <button
                [disabled]="form().invalid"
                ngClass="{'uppercase rounded-md bg-[#1E4A98] px-6 py-3 text-sm font-semibold text-white shadow-sm hover:bg-[#508FD4] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600': true,
              '':form().invalid}"
              >
                Send
              </button>
            </div>
          </div>
        </div>

        <!-- <pre class="bg-white rounded-lg break-words max-w-[400px] text-wrap">{{
          form().value | json
        }}</pre> -->
      </form>
    </div>
  </div>
</section>

<app-map />
<div class="flex flex-col justify-center items-center py-24">
  <h2 class="text-2xl text-[#1E4A98] font-semibold">
    Let's Build Something Great Together!
  </h2>
  <p class="font-thin">We look forward to hearing from you.</p>
</div>
