<section class="flex w-full justify-center py-14 lg:py-32">
  <div class="lg:w-4/5 flex flex-col lg:flex-row items-center justify-center">
    <div
      class="flex justify-center items-center min-w-[100%] lg:min-w-[50%] w-max"
    >
      <div
        class="w-full lg:max-w-[500px] min-h-[350px] max-h-[500px] h-full p-8 bg-cover bg-center lg:translate-x-[-24%] lg:scale-150"
        style="
          background-image: url('assets/img/tech-bg.jpg');
          border-radius: 0% 0;
        "
      ></div>
    </div>

    <div class="flex flex-col sm:p-8 w-4/5">
      <h2 class="text-3xl sm:text-5xl text-start font-bold text-[#1e4a98] mb-4">
        Who Are We?
      </h2>
      <p class="text-md text-gray-500 indent-4 text-justify ml-4">
        Integrity Solutions is a consulting firm established in Ecuador since
        2006, specialized in business risk management, technology risk
        management, integration services, information security management,
        <a
          routerLink="/services/software-factory"
          class="cursor-pointer text-gray-800"
          >software factory</a
        >, optimization, improvement, and reengineering of processes making
        effective use of technology, with experience in the public sector as
        well as the private sector.
      </p>
      <!-- <p class="text-gray-800 py-4 indent-4 text-justify">
        Our business lines provide our clients with the appropriate support in
        the search for integral solutions at the enterprise level. We have the
        human team, duly trained and certified in the use of different solutions
        and methodologies widely used worldwide and we have solid experience
        using first level tools that help us in the implementation of our
        services and solutions. Based on the experience of our consultants and
        the quality of the services we provide, we offer to all our customers,
        qualified services and backed by the successes achieved so far.
      </p> -->
    </div>
  </div>
</section>
<div class="bg-slate-100 py-24 sm:py-32 mb-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div
        class="mx-auto flex max-w-xs flex-col gap-y-4 items-center justify-center"
      >
        <dt class="text-base/7 text-gray-600">Projects finished</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl flex gap-8"
        >
          1354<icon-list-check class="w-12 h-12 block" />
        </dd>
      </div>
      <div
        class="mx-auto flex max-w-xs flex-col gap-y-4 items-center justify-center"
      >
        <dt class="text-base/7 text-gray-600">Programmers working with us</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl flex gap-8"
        >
          +86 <icon-laptop class="w-12 h-12 block" />
        </dd>
      </div>
      <div
        class="mx-auto flex max-w-xs flex-col gap-y-4 items-center justify-center"
      >
        <dt class="text-base/7 text-gray-600">Years of experience</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl flex gap-8"
        >
          18<icon-clock class="w-12 h-12 block" />
        </dd>
      </div>
    </dl>
  </div>
</div>
<div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
  <h3 class="text-3xl sm:text-5xl text-center font-bold text-[#1e4a98] mb-4">
    Our Leaders
  </h3>
  <p class="mb-6 pb-2 text-neutral-600 dark:text-neutral-300 md:mb-12 md:pb-0">
    Integrity Solutions Heads of departments.
  </p>
</div>
<div
  class="w-full md:w-4/5 md:mx-auto grid gap-6 text-center md:grid-cols-2 lg:gap-12"
>
  <div class="mb-12 md:mb-0">
    <div class="mb-6 flex justify-center">
      <img
        src="assets/img/our-people/david-montesdeoca.jpeg"
        class="w-48 rounded-full shadow-lg dark:shadow-black/30"
      />
    </div>
    <h5 class="mb-4 text-xl font-semibold">David Montesdeoca</h5>
    <h6 class="mb-4 font-semibold text-[#1E4A98]">Business Developer</h6>
    <p class="mb-4 text-neutral-600 dark:text-neutral-300">
      <span class="inline-block pe-2 [&>svg]:w-5"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 448 512"
        >
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
          />
        </svg>
      </span>
      PBX: (+593) (4) 602 8000
      <br />Mobile: (+593) (9) 8802 1607
      <br />
      david.montesdeoca&#64;integritysolutions.com.ec
    </p>
  </div>
  <div class="mb-12 md:mb-0">
    <div class="mb-6 flex justify-center">
      <img
        src="assets/img/our-people/juan-carlos.jpeg"
        class="w-48 rounded-full shadow-lg dark:shadow-black/30"
      />
    </div>
    <h5 class="mb-4 text-xl font-semibold">Juan Carlos Aguila</h5>
    <h6 class="mb-4 font-semibold text-[#1E4A98]">Managing Director</h6>
    <p class="mb-4 text-neutral-600 dark:text-neutral-300">
      <span class="inline-block pe-2 [&>svg]:w-5"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 448 512"
        >
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
          />
        </svg>
      </span>
      PBX: (+593) (4) 602 8000
      <br />
      Direct: (+593) (4) 600 0470 <br />Mobile: (+593) (9) 9884 1015
      <br />juan.aguila&#64;integritysolutions.com.ec
    </p>
  </div>
  <div class="mb-12 md:mb-0">
    <div class="mb-6 flex justify-center">
      <img
        src="assets/img/our-people/tanya.jpeg"
        class="w-48 rounded-full shadow-lg dark:shadow-black/30"
      />
    </div>
    <h5 class="mb-4 text-xl font-semibold">Tanya Cumbicos</h5>
    <h6 class="mb-4 font-semibold text-[#1E4A98]">Project manager</h6>
    <p class="mb-4 text-neutral-600 dark:text-neutral-300">
      <span class="inline-block pe-2 [&>svg]:w-5"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 448 512"
        >
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
          />
        </svg>
      </span>
      PBX: (+593) (4) 602 8000
      <br />
      Mobile: (+593) (9) 9229 3185
      <br />
      tanya.cumbicos&#64;integritysolutions.com.ec
    </p>
  </div>
  <div class="mb-12 md:mb-0">
    <div class="mb-6 flex justify-center">
      <img
        src="assets/img/our-people/maribel.enc"
        class="w-48 rounded-full shadow-lg dark:shadow-black/30"
      />
    </div>
    <h5 class="mb-4 text-xl font-semibold">Maribel García</h5>
    <h6 class="mb-4 font-semibold text-[#1E4A98]">Comercial Assistant</h6>
    <p class="mb-4 text-neutral-600 dark:text-neutral-300">
      <span class="inline-block pe-2 [&>svg]:w-5"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 448 512"
        >
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
          />
        </svg>
      </span>
      PBX: (+593) (4) 602 8000
      <br />
      Mobile: (+593) (9) 9152 5729
      <br />
      maribel.garcia&#64;integritysolutions.com.ec
    </p>
  </div>
</div>
