<!-- <app-test-module /> -->
<section class="w-full mb-10">
  <div class="w-full">
    <div
      style="
        background-image: url('assets/img/services/softwarefactory/softwarefactory.webp');
      "
      class="title-servicio w-full self-center flex justify-center bg-cover"
    >
      <div class="text-white flex flex-col justify-center items-center py-10">
        <h2 class="text-3xl font-semibold">Software Factory</h2>
        <p class="w-3/4 text-xl">
          Our company has a human group for the development and maintenance of
          information systems, whose objective is the construction of software
          for end clients or third parties, according to specific predefined
          requirements and based on four basic principles: agility, automation,
          information analysis and safety, guaranteeing higher quality results.
        </p>
      </div>
    </div>
  </div>

  <div class="relative w-full flex flex-col items-center justify-center my-24">
    <h2 class="text-3xl sm:text-5xl text-center font-bold text-[#1e4a98] mb-8">
      Software Factory Services
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 w-full sm:w-4/5"
    >
      @for (service of serviceTypes; track $index) {
      <div
        class="col-span-1 h-[300px] shadow-inner sm::rounded-lg bg-gray-100 flex flex-col justify-center items-center"
      >
        <h3
          class="text-center text-3xl md:text-4xl text-gray-800 px-8 max-w-[350px]"
        >
          {{ service.title }}
        </h3>
        <div class="mx-8 flex justify-center items-center mt-4">
          @switch (service.icon) { @case ("wrench") {
          <icon-wrench class="w-12 h-12 block" />
          }@case ("steps") {
          <icon-steps class="w-12 h-12 block" />
          } @case ("improve") {
          <icon-trend-up class="w-12 h-12 block" />
          }@case ("gears") {
          <icon-gears class="w-12 h-12 block" />
          } @case ("add-user") {
          <icon-add-user class="w-12 h-12 block" />
          } @default {
          <icon-jigsaw class="w-12 h-12 block" />
          } }

          <p class="text-sm w-4/5 pl-4">{{ service.detail }}</p>
        </div>
      </div>
      }
    </div>
  </div>

  <app-display-slide />

  <app-project-phases />
  <div class="flex justify-center items-center"></div>
</section>
