<header class="bg-white">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Integrity Solutions</span>
        <img
          class="h-10 sm:h-16 w-auto"
          srcset="assets/img/logo/logo_icon.png"
          alt=""
        />
      </a>
      <a href="#" class="-m-1.5 p-1.5">
        <img
          class="h-10 sm:h-16 w-auto"
          srcset="assets/img/logo/logo_text.png"
          alt=""
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        (click)="toogleMobileMenu()"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <div class="relative">
      </div>
      @for (route of routes; track $index) { @if (route.data &&
      route.data['type'] === 1) {
      <a
        [routerLink]="route.path"
        routerLinkActive="bg-[#1E4A98] text-white "
        class="text-sm/6 font-semibold text-gray-900 rounded-lg px-3 py-2 hover:bg-[#1E4A98] hover:text-white"
        >{{ route.data["navName"] }}</a
      >

      } @else {
      <div class="relative">
        <button
          (click)="toogleServicesMenu()"
          routerLinkActive="bg-[#1E4A98] text-white"
          [routerLinkActiveOptions]="{ exact: false }"
          type="button"
          class="flex items-center gap-x-1 text-sm/6 font-semibold text-gray-900 rounded-lg px-3 py-2 hover:bg-[#1E4A98] hover:text-white"
          aria-expanded="false"
        >
          {{ route.data?.['navName'] }}
          <div [routerLink]="route.path" class="invisible"></div>
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        @if (servicesMenu()) {
        <div
          [appOutSideClick]="servicesMenu()"
          (outSideClick)="toogleServicesMenu()"
          class="absolute right-0 top-full z-10 mt-3 w-screen max-w-sm overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          @for (child of route.children; track $index) {
          <div
            (click)="toogleServicesMenu()"
            [routerLink]="route.path + '/' + child.path"
            class="cursor-pointer group relative flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-gray-50"
          >
            <div
              class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
            >
              <img
                class="w-auto"
                srcset="assets/img/logo/logo_icon.png"
                alt=""
              />
            </div>
            <div class="flex-auto">
              <div class="block font-semibold text-gray-900">
                {{ child.data?.['navName'] }}
                <span class="absolute inset-0"></span>
              </div>
              <p
                class="mt-1 text-gray-600 max-w-[250px] whitespace-break-spaces"
              >
                Contact us on our other website for more services
              </p>
            </div>
          </div>

          }
        </div>
        }
      </div>
      } }
      <div class="relative">
        <button
          (click)="toogleLocationMenu()"
          type="button"
          class="flex items-center gap-x-1 text-sm/6 font-semibold text-gray-900 rounded-lg px-3 py-2 hover:bg-[#1E4A98] hover:text-white cursor-pointer"
          aria-expanded="false"
        >
          Location
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        @if (locationMenu()) {
        <div
          [appOutSideClick]="locationMenu()"
          (outSideClick)="toogleLocationMenu()"
          class="absolute right-0 top-full z-10 mt-3 w-screen max-w-sm overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div
            (click)="goToUrl()"
            class="cursor-pointer group relative flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-gray-50"
          >
            <div
              class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
            >
              <img
                class="w-auto"
                srcset="assets/img/logo/logo_icon.png"
                alt=""
              />
            </div>
            <div class="flex-auto">
              <div class="block font-semibold text-gray-900">
                Latin America
                <span class="absolute inset-0"></span>
              </div>
              <p
                class="mt-1 text-gray-600 max-w-[250px] whitespace-break-spaces"
              >
                Our offices are located in Ecuador, there we offer more services
              </p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  @if (this.mobileMenu()) {
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-8 w-auto"
            srcset="assets/img/logo/logo_icon.png"
            alt=""
          />
        </a>
        <button
          (click)="toogleMobileMenu()"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            @for (route of routes; track $index) { @if (route.data &&
            route.data['type'] === 1) {
            <a
              [routerLink]="route.path"
              routerLinkActive="bg-blue-100"
              (click)="toogleMobileMenu()"
              class="block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 text-center"
              >{{ route.data["navName"] }}</a
            >

            } @else {
            <div class="relative w-full">
              <button
                (click)="toogleServicesMenu()"
                routerLinkActive="bg-[#1E4A98] text-white "
                type="button"
                class="flex w-full justify-center items-center gap-x-1 text-base/7 font-semibold text-gray-900 rounded-lg px-3 py-2 hover:bg-[#1E4A98] hover:text-white"
                aria-expanded="false"
              >
                {{ route.data?.["navName"] }}

                <svg
                  class="h-5 w-5 flex-none text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              @if (servicesMenu()) {
              <div
                class="absolute right-0 top-full z-10 mt-3 w-screen max-w-sm overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
              >
                @for (child of route.children; track $index) {
                <div
                  [routerLink]="route.path + '/' + child.path"
                  class="cursor-pointer group relative flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-gray-50"
                >
                  <div
                    class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                  >
                    <img
                      class="w-auto"
                      srcset="assets/img/logo/logo_icon.png"
                      alt=""
                    />
                  </div>
                  <div class="flex-auto">
                    <div class="block font-semibold text-gray-900">
                      {{ child.data?.['navName'] }}
                      <span class="absolute inset-0"></span>
                    </div>
                    <p
                      class="mt-1 text-gray-600 max-w-[250px] whitespace-break-spaces"
                    >
                      Contact us on our other website for more services.
                    </p>
                  </div>
                </div>

                }
              </div>
              }
            </div>
            } }
            <div class="relative w-full">
              <button
                (click)="toogleLocationMenu()"
                type="button"
                class="flex items-center justify-center text-center rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-blue-100 w-full"
                aria-expanded="false"
              >
                Location
                <svg
                  class="h-5 w-5 flex-none text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              @if (locationMenu()) {
              <div
                class="absolute right-0 top-full z-10 mt-3 w-screen max-w-sm overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
              >
                <div
                  (click)="goToUrl()"
                  class="cursor-pointer group relative flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-gray-50"
                >
                  <div
                    class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                  >
                    <img
                      class="w-auto"
                      srcset="assets/img/logo/logo_icon.png"
                      alt=""
                    />
                  </div>
                  <div class="flex-auto">
                    <div class="block font-semibold text-gray-900">
                      Latin America
                      <span class="absolute inset-0"></span>
                    </div>
                    <p
                      class="mt-1 text-gray-600 max-w-[250px] whitespace-break-spaces"
                    >
                      Our offices are located in Ecuador, there we offer more
                      services
                    </p>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  }
</header>
